<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
	<meta charset="UTF-8">
	<title>Agenda Colaborativa</title>
</head>
<body>

	<div ng-controller="EventosController as eventos">
		<ul>
			<li ng-repeat="evento in eventos.item">
				<span>{{ evento.data | date }}</span>
				<h1>{{evento.titulo}}</h1>
				<h2>{{evento.body}}</h2>
			</li>
		</ul>
	</div>

	<form method="post" enctype="multipart/form-data" action="http://localhost:8080/api/eventos">'
    <p> Nome : <input type="text" name="titulo"></input></p>
    <p> Body : <input type="textarea" name="body"></input></p>
    <p> Data: <input type="date" name="data"></input></p>
    <p> File : <input type="file" name="thumbnail" /></p>
    <p><input type="submit" value="Upload" /></p>
  </form>

	<!-- <div flow-init="{target: 'http://localhost:8080/imagem/new'}"
	     flow-files-submitted="$flow.upload()"
	     flow-file-success="$file.msg = $message">

	  <input type="file" flow-btn/>
	  Input OR Other element as upload button
	  <span class="btn" flow-btn>Upload File</span>

	<img flow-img="$flow.files[0]" />

	  <table>
	    <tr ng-repeat="file in $flow.files">
	        <td>{{$index+1}}</td>
	        <td>{{file.name}}</td>
	        <td>{{file.msg}}</td>
	    </tr>
	  </table>
	</div> -->

	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../bower_components/ng-flow/dist/ng-flow-standalone.min.js"></script>
	<script src="assets/js/app.js"></script>
</body>
</html>
